<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Registro</title>
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="img/favicon.png">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <link href="css/sb-admin-2.min.css" rel="stylesheet">
    <!-- <script src="validations.jsp" type="text/javascript"></script> -->
    <script>
        if(sessionStorage.getItem("user") !== null){
            location.replace("./login.html");
        }
    </script>
</head>

<body class="bg-gradient-dark">

    <div class="container">

        <div class="row justify-content-center">

            <div class="col-xl-12 col-lg-12 col-md-9 my-1">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-lg-6 d-none d-lg-block">
                                <img src="img/insert.jpg" class="img-fluid w-100" alt="">
                            </div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4 font-weight-bold">Registro de Usuario</h1>
                                    </div>
                                        <form>
                                            <div class="form-group">
                                                <label for="id" class="font-weight-bold">Cédula:</label>
                                                <input type="text" id="id" name="id" value="" class="form-control form-control-user">
                                            </div>
                                            <div class="form-group">
                                                <label for="name" class="font-weight-bold">Nombre:</label>
                                                <input type="text" id="name" name="name" value="" class="form-control form-control-user">  
                                            </div>
                                            <div class="form-group">
                                                <label for="lastName" class="font-weight-bold">Apellido:</label>
                                                <input type="text" id="lastName" name="lastName" value="" class="form-control form-control-user">
                                            </div>
                                            <div class="form-group">
                                                <label for="age" class="font-weight-bold">Teléfono:</label>
                                                <input type="text" id="phone" name="phone" value="" class="form-control form-control-user">
                                            </div>
                                            <div class="form-group">
                                                <label for="age" class="font-weight-bold">Tarjeta de Crédito:</label>
                                                <input type="text" id="card" name="card" value="" class="form-control form-control-user">
                                            </div>
                                            <div class="form-group">
                                                <label for="password" class="font-weight-bold">Contraseña:</label>
                                                <input type="password" id="password2" name="password" value="" class="form-control form-control-user">
                                            </div>

                                            <button type="button" id="btnAccept" class="btn btn-dark btn-user btn-block" onclick="insertUser()">Aceptar</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    
                </div>
    
            </div>
    
        </div>

        <script src="./consumeUserService.js"></script>

        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
        <script src="js/sb-admin-2.min.js"></script>
    </body>
    
    </html>                                        